<template>
    <div class="login-form">
        <form v-on:submit.prevent="login" @keydown="form.onKeydown($event)">
            <h2 class="text-center">Vueauth V2</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" v-model="form.email"
                       :class="{ 'is-invalid': form.errors.has('email') }">
                <has-error :form="form" field="email"></has-error>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" v-model="form.password"
                       :class="{ 'is-invalid': form.errors.has('password') }">
                <has-error :form="form" field="password"></has-error>
            </div>
            <div class="form-group">

                <button type="submit" class="btn btn-primary btn-block" :disabled="form.busy">{{btnText}}
                </button>

            </div>
            <div class="clearfix">
                <label class="float-left form-check-label">
                    <input type="checkbox" v-model="form.remember"> Remember me</label>
                <router-link :to="{ name: 'register' }">
                    <a class="float-right">
                        Register
                    </a>
                </router-link>
            </div>
        </form>
    </div>
</template>

<script>
    import {Form, HasError, AlertError, AlertSuccess} from 'vform';

    export default {
        name: "Login",

        components: {HasError, AlertError, AlertSuccess},
        data() {
            return {
                form: new Form({
                    email: null,
                    password: null,
                    remember: false,
                }),
                btnText: 'Login',
                disabled: false,
                loading: false,
            }
        },
        created(){
            document.querySelector('body')
                .style=
                '    background-image: url(\'/images/bg4.jpg\') !important;\n' +
                '    background-size: cover;\n' +
                '    justify-content: center;\n' +
                '    align-items: center;\n' +
                '    flex-direction: column;\n' +
                '    font-family: \'Montserrat\', sans-serif;\n' +
                '    height: 100vh;' +
                '    overflow-y: hidden;' +
                '    overflow-x: hidden;' +
                '    background-color: rgba(0, 0, 0, 0.5);'

            ;

        },
        methods: {
            async login() {
                // Submit the form.
                // First get csrf-token with airlock
                this.btnText = 'Loading...';
                axios.get('/sanctum/csrf-cookie').then(async response => {
                    console.log(response);
                    const {data} = await this.form.post('/login');
                    console.log('JAY POST123');
                    // // Save the token.
                    await this.$store.dispatch('auth/setLogin');
                    // Fetch the user.
                    await this.$store.dispatch('auth/fetchUser');

                    await this.$store.dispatch('auth/fetchAbilities');
                    // Redirect home.

                    this.$router.push(this.$route.query.redirect || '/');
                    this.btnText = 'Login';
                }).catch((err) => {
                    this.btnText = 'Login';
                });
            }
        }
    }
</script>

<style scoped>
    .login-form {
        width: 340px;
        margin: 220px auto;
        font-size: 15px;
    }

    .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    .login-form h2 {
        margin: 0 0 15px;
    }

    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }

</style>
